<h1 mat-dialog-title class="heading">{{data.heading}}</h1>
<div mat-dialog-content>
    <form [formGroup]="spendTrackerForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of data.fields" class="input-field-container">
            <mat-form-field appearance="outline" class="input">
                <mat-label>{{field.name}}</mat-label>
                <input *ngIf="!isDropdown(field)" [type]="field.type.toString()" matInput [placeholder]="field.name"
                    [value]="field.defaultValue" [formControlName]="field.name" class="input-field">

                <mat-select *ngIf="isDropdown(field)" [formControlName]="field.name">
                    <mat-option *ngFor="let option of field.options" [value]="option">{{option}}</mat-option>
                </mat-select>
                <mat-error [hidden]="!spendTrackerForm.get(field.name)?.hasError('required')">{{field.name}} is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="submit">
            <button mat-raised-button color="primary" [disabled]="isSubmitDisabled()">Submit</button>
        </div>
    </form>
</div>