table {
    width: 100%;
    padding: 1em;
    border-spacing: 0;
    margin: auto
}

tr {
    text-align: center;
}

.cell {
    padding: 0.5em;
}

.table-head {
    font-weight:bold;
    border-bottom: 0.1em solid lightgray;
}

.table-foot {
    font-weight:bold;
    border-top: 0.1em solid lightgray;
}

.table-container {
    margin: 1em;
    background-color: white;
}