.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.spinner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spinner {
    transform: scale(0.5);
}

.expansion-panel {
    background-color: whitesmoke;
}

mat-panel-title {
    font-weight: bold;
    color: #9f19ae;
}

mat-panel-description {
    font-weight: bold;
    color: #d45506;
}