table {
    width: 100%;
    margin: 2em;
    padding: 1em;
}

tr {
    text-align: center;
}

.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}