.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    background-color: lavender;
}

.content-container {
    padding: 1em 1em;
}

.card {
    background-color: white;
    height: max-content;
    width: 90%;
    margin: auto;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em;

    min-width: 400px;
    max-width: 800px;
    max-height: 70vh;
}

.card-content {
    margin: 1em;
    padding: 1em;
    width: 70%;
    overflow-y: auto;
}