<div style="width: 100%;">
    <mat-form-field appearance="outline" class="input">
        <mat-label>{{field}}</mat-label>
        <input *ngIf="!isDropdown(field)" matInput placeholder="{{field}}" formControlName="{{field}}">
        <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete> -->

        <mat-select *ngIf="isDropdown(field)">
            <mat-option *ngFor="let option of options" value="option">{{option}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</div>